@font-face {
    font-family: 'Helvetica Neue Cyr Thin';
    src: url('./fonts/HelveticaNeueCyr-Thin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue Cyr Bold';
    src: url('./fonts/HelveticaNeueCyr-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
}

body {
    font-family: "Helvetica Neue Cyr Thin", sans-serif;
}

.head_section {
    position: relative;
    width: 100%;
    background-image: url("./images/background_header.svg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px;
}

.gif {
    position: absolute;
    left: 30%;
    top: 25%;
    text-align: center;
}

.gif_title {
    font-size: 66px;
    color: white;
    font-weight: 700;
    font-family: "Helvetica Neue Cyr Bold", sans-serif;
    margin-bottom: 38px;
    margin-top: 10px;
}

.gif_description {
    background-color: black;
    padding: 20px 21px;
    border-radius: 10px;
    font-size: 20px;
    color: white;
    line-height: 110%;
}

nav {
    float: right;
    padding-right: 20px;
}

nav > a {
    color: white;
    display: inline-block;
    text-decoration: none;
    margin: 15px 40px 0 0;
}